<p style="color: green"><%= notice %></p>

<h1>Bingo cards</h1>

<div data-controller="bingo-card" id="bingo_cards">
  <div data-bingo-card-target="appendBingoCard removeAllBingoCards" class="row">
  <% @bingo_cards.each do |bingo_card| %>
    <%= render bingo_card %>
  <% end %>
  </div>
  <%= button_tag 'New Bingo Card', data: {"game-id": @bingo_game.id, "action": "bingo-card#newCard"}, class: "btn btn-success" %>
  <%= button_tag 'Remove All Cards', data: {"game-id": @bingo_game.id, "action": "bingo-card#removeAllCards"}, class: "btn btn-danger" %>
</div>

