<div id="<%= dom_id bingo_card %>" class="col-sm-4">
  <table class="table">
    <thead>
      <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
      </tr>
    </thead>
    <tbody>
      <% bingo_card.board_array.each do |row| %>
        <tr>
          <% row.each do |number| %>
            <td>
              <%= number %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
