<p style="color: green"><%= notice %></p>

<h1>Bingo cards</h1>

<div data-controller="bingo-card" id="bingo_cards">
  <div class="row">
  <% BingoCard.all.each do |bingo_card| %>
    <%= render bingo_card %>
  <% end %>
  <button class="btn btn-success" data-action="bingo-card#click">
    New Bingo Card
  </button>
</div>

