<div id="<%= dom_id bingo_card %>" class="col-sm-4">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th class="text-center">B</th>
        <th class="text-center">I</th>
        <th class="text-center">N</th>
        <th class="text-center">G</th>
        <th class="text-center">O</th>
      </tr>
    </thead>
    <tbody>
      <% bingo_card.board_array.each do |row| %>
        <tr>
          <% row.each do |number| %>
            <td class="text-center <%= "bg-success" if @bingo_game.bingo_numbers.include?(number) %>">
              <%= number.number %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
