<div id="<%= dom_id bingo_number %>">
 <p>
    <strong>Bingo card:</strong>
    <%= bingo_number.bingo_card_ids %>
  </p>

  <p>
    <strong>Letter:</strong>
    <%= bingo_number.letter %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= bingo_number.number %>
  </p>

</div>
