<div data-controller="new-bingo-number">
  <h3 class="text-dark text-center bg-warning" data-new-bingo-number-target="bingoNumber"></h3>

  <button data-action="new-bingo-number#click">Pick Number</button>
</div>
